/* You can add global styles to this file, and also import other style files */

* {
    text-align: center;
    margin: 2em;
}

input {
  width: 50% !important;
}

button {
    background-color: #ED4C7D !important;
    color: white !important;
}